<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="33243Mickeh.TypeFast"
    Publisher="CN=E17E350E-EDCA-4EAB-A31F-4710F4C5515E"
    Version="1.1.0.0" />

  <mp:PhoneIdentity PhoneProductId="5c0cab6b-3434-4c7f-8da0-1a9d3c0e28fc" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Type Fast</DisplayName>
    <PublisherDisplayName>Mickeh</PublisherDisplayName>
    <Logo>Assets\Logo\StoreLogo.jpg</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="TyperUWP.App">
      <uap:VisualElements
        DisplayName="Type Fast"
        Square150x150Logo="Assets\Logo\Square150x150Logo.jpg"
        Square44x44Logo="Assets\Logo\Square44x44Logo.jpg"
        Description="Train and test your typing skills."
        BackgroundColor="#000000">
        <uap:DefaultTile Wide310x150Logo="Assets\Logo\Wide310x150Logo.jpg" Square310x310Logo="Assets\Logo\LargeTile.jpg" Square71x71Logo="Assets\Logo\SmallTile.jpg">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\Logo\SplashScreen.jpg"     BackgroundColor="#000000"/>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient"/></Capabilities>
</Package>